#countlabel {
  display: block;
  text-align: center;
  font-size: 10rem;
}
#btncontainer {
  text-align: center;
}
.btn{
    padding: 10px 20px;
    background-color: #00ffff;
    color: black;
    cursor: pointer;
    transition: background-color 0.25s;
}
.btn:hover {
    background-color : beige
}
